node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache



node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache



test.js
content/notes/test.md